.BrandGradient{
    background: #1B9FCF;
    background: linear-gradient(to right, #1B9FCF 31%, #3ACF93 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}